



@media screen {

}

@media print {
  #upload {
    display: none;
  }
  
  #view {
    display: none;
  }


  #zoneNom {
    position: fixed;
    left: 30mm;
  }

  .code {
    font-size: 8pt;
  }


  .content-block,
  p,
  .markdown-body {
    page-break-inside: avoid;
  }

  p{
    page-break-inside: avoid;
  }


  ul {
    page-break-inside: avoid;
  }

  

  html,
  body {
    width: 210mm;
    height: 297mm;
  }

  hr {
    break-after: page;
  }

  hr {
    break-after: page;
  }

  .markdown-body h1{
    font-size: 1.3em;
    page-break-after:avoid;
    break-after: avoid;
  }
  .markdown-body h2{
    font-size: 1.2em;
    page-break-after:avoid;
    break-after: avoid;
  }
  .markdown-body h3{
    font-size: 1.1em;
    page-break-after:avoid;
    break-after: avoid;
  }
  .markdown-body h4{
    font-size: 1em;
    page-break-after:avoid;
    break-after: avoid;
  }

  .container-fluid{
    margin: 0;
    padding: 0;
  }

  .markdown-body:not(.next-editor) pre {
    padding: 6px;
  }



  .markdown-body:not(.next-editor) pre {
    padding: 6px;
  }

@page {
  @bottom-center {
       content: "page " counter(page) "/" counter(pages);
   }

   /*
   @top-left{
    content: url(square.svg);
  }
  @top-right{
    content: url(square.svg);
  }
  @bottom-left{
    content: url(square.svg);
  }
  @bottom-right{
    content: url(square.svg);
  }*/

/*    marks: crop cross;*/
    size: A4;

  
}


/* print.css */

/* target all pages */
/*@page {
  /* margin: 2cm;
}*/

/* target the first page only */
@page :first {
/*   margin-top: 6cm;*/
}

/* target left (even-numbered) pages only */
@page :left {
  @top-left-corner {
    content: url(circlecorner.svg);
    padding-right: 25pt;
    padding-bottom: 1cm;
    margin-bottom: 1cm;
    padding-top: 1cm;
    margin-top: 1cm;
  }
  @top-right-corner {
    content: url(circlecorner.svg);
    padding-left: 25pt;
    padding-bottom: 1cm;
    margin-bottom: 1cm;
    padding-top: 1cm;
    margin-top: 1cm;

  }
  @bottom-left-corner {
    content: url(circlecorner.svg);
    padding-right: 25pt;
/*    padding-top: 1cm;
    margin-top: 1cm;*/
  }
  @bottom-right-corner {
    content: url(circlecorner.svg);
    padding-left: 25pt;
/*    padding-top: 1cm;
    margin-top: 1cm;*/
  }

}

/* target right (odd-numbered) pages only */
@page :right {
  @top-left-corner {
    content: url(circlecorner.svg);
    padding-right: 25pt;
    padding-bottom: 1cm;
    margin-bottom: 1cm;
  }
  @top-right-corner {
    content: url(circlecorner.svg);
    padding-left: 25pt;
    padding-bottom: 1cm;
    margin-bottom: 1cm;
  }
  @bottom-left-corner {
    content: url(circlecorner.svg);
    padding-right: 25pt;
/*    padding-top: 1cm;
    margin-top: 1cm;*/
  }
  @bottom-right-corner {
    content: url(circlecorner.svg);
    padding-left: 25pt;
/*    padding-top: 1cm;
    margin-top: 1cm;*/
  }

  @top-center {
    content: url(header.svg);
    padding-top: 24px;    
  }
   margin-top: 6cm;
}

@page: blank {
  @top-left {
    content: none;
  }
} ;

  pre {
    width: 160mm;    
  }

  .markdown-body pre code .gutter.linenumber{
    display: none;

  }

  body {
/*    background: white;*/
    font-size: 10pt;
  }
  p,li{
    font-size: 10pt;
  }
  .task-list-item{
    font-size: 10pt;
  }
  #menu {
    display: none;
  }


  a:link,
  a:visited {
    color: #520;
    font-size: 10pt;
    background: transparent;
    font-weight: bold;
    text-decoration: underline;
  }
  #doc a:link:after,
  #content a:visited:after {
    content: " (" attr(href) ") ";
    font-size: 90%;
  }
  #doc a[href^="/"]:after {
    content: " (" attr(href) ") ";
  }

  
  
}
